<form class="register-form" action="index.html" method="post">
  <div class="input-container">
    <input type="email" />
    <span>
      Your email
    </span>
    <p>
      You won't receive spam
    </p>
  </div>
  <br>
  <br>
  <br>

  <div class="input-container">
    <input type="text" placeholder="Hi! My username is" />
  </div>

  <div class="input-container">
    <input type="password" placeholder="My strong password is" />
  </div>

  <button type="submit" name="submit">
    Registrarse
  </button>
</form>
